@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<button class="spbtn btn1">hover</button>
<button class="spbtn btn2">hover</button>
<button class="spbtn btn3">hover</button>
<button class="spbtn btn4">hover</button>*@
<div class="modal fade">
    <div id="loadModal" class="modal-dialog-centered"></div>
</div>

<script>

</script>