@{
    ViewData["Title"] = "Home Page";
    string url = Url.Action("Loading");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<button class="spbtn btn1">hover</button>
<button class="spbtn btn2">hover</button>
<button class="spbtn btn3">hover</button>
<button class="spbtn btn4">hover</button>*@
<div class="modal fade">
    <div id="modal_area" class="modal-dialog-centered"></div>
</div>
<button class="btn" id="load_modal">Show modal window</button>
<script>
    $(() => {
        $.ajaxSetup({ cache: false });
        $("#load_modal").click((e) => {
            e.preventDefault();
            $.get('@url', (data) => {
                $("#modal_area").html(data);
                $("#modal_area").parent().modal("show");

                setTimeout(closeModal, 3000);
            })
        });
    })

    function closeModal() {
        $("#close_modal_button").click();
    }
</script>